body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding-left: 40px;
    padding-right: 40px;
}


.bg-image {
    background-image: url(images/1stbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;


}

.font {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;

}

.button {
    color: white;
    text-align: center;

    text-decoration: none;
    background-color: rgb(221, 64, 7);
    padding: 8px;
    border-radius: 5px;

}

#size {
    font-size: xx-large;
    font-weight: 700;
}

.donate {
    text-align: center;
}

.donet-info {
    display: flex;
    padding: 20px;
    padding-left: 100px;

}

.donat-box {
    padding: 50px;
}

.color {
    background-color: azure;
}

.color-1 {
    background-color: blanchedalmond;
    border: 3px solid orangered;
    border-radius: 5px;
}

.color-2 {
    background-color: honeydew;
}

.color-3 {
    background-color: azure;
}

.color-4 {
    background-color: cornsilk;
}

.other {
    text-align: center;
}

#button {

    text-decoration: none;
    background-color: rgb(221, 64, 7);
    padding: 8px;
    border-radius: 5px;

}